# coding: utf-8

"""
    WSO2 API Manager - Publisher API

    This specifies a **RESTful API** for WSO2 **API Manager** - Publisher.  Please see [full swagger definition](https://raw.githubusercontent.com/wso2/carbon-apimgt/v6.0.4/components/apimgt/org.wso2.carbon.apimgt.rest.api.publisher/src/main/resources/publisher-api.yaml) of the API which is written using [swagger 2.0](http://swagger.io/) specification. 

    OpenAPI spec version: 0.11.0
    Contact: architecture@wso2.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class WorkflowsIndividualApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def workflows_update_workflow_status_post(self, workflow_reference_id, body, **kwargs):
        """
        Update workflow status
        This operation can be used to approve or reject a workflow task. . 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.workflows_update_workflow_status_post(workflow_reference_id, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str workflow_reference_id: Workflow reference id  (required)
        :param Workflow body: Workflow event that need to be updated  (required)
        :return: Workflow1
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.workflows_update_workflow_status_post_with_http_info(workflow_reference_id, body, **kwargs)
        else:
            (data) = self.workflows_update_workflow_status_post_with_http_info(workflow_reference_id, body, **kwargs)
            return data

    def workflows_update_workflow_status_post_with_http_info(self, workflow_reference_id, body, **kwargs):
        """
        Update workflow status
        This operation can be used to approve or reject a workflow task. . 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.workflows_update_workflow_status_post_with_http_info(workflow_reference_id, body, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str workflow_reference_id: Workflow reference id  (required)
        :param Workflow body: Workflow event that need to be updated  (required)
        :return: Workflow1
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['workflow_reference_id', 'body']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method workflows_update_workflow_status_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'workflow_reference_id' is set
        if ('workflow_reference_id' not in params) or (params['workflow_reference_id'] is None):
            raise ValueError("Missing the required parameter `workflow_reference_id` when calling `workflows_update_workflow_status_post`")
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `workflows_update_workflow_status_post`")


        collection_formats = {}

        path_params = {}

        query_params = []
        if 'workflow_reference_id' in params:
            query_params.append(('workflowReferenceId', params['workflow_reference_id']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['OAuth2']

        return self.api_client.call_api('/workflows/update-workflow-status', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='Workflow1',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
